<body>
  <div id="board">
    <app-square *ngFor="let square of row1; let i = index" [value]="square" (mousedown)= "move(0,i)">
    </app-square>
    <app-square *ngFor="let square of row2; let i = index" [value]="square" (mousedown)= "move(1,i)">
    </app-square>
    <app-square *ngFor="let square of row3; let i = index" [value]="square" (mousedown)= "move(2,i)">
    </app-square>
    <app-square *ngFor="let square of row4; let i = index" [value]="square" (mousedown)= "move(3,i)">
    </app-square>
    <app-square *ngFor="let square of row5; let i = index" [value]="square" (mousedown)= "move(4,i)">
    </app-square>
    <app-square *ngFor="let square of row6; let i = index" [value]="square" (mousedown)= "move(5,i)">
    </app-square>
    <app-square *ngFor="let square of row7; let i = index" [value]="square" (mousedown)= "move(6,i)">
    </app-square>
    <app-square *ngFor="let square of row8; let i = index" [value]="square" (mousedown)= "move(7,i)">
    </app-square>
  </div>
  <div *ngIf="isPromoting">
    <img src='./../../assets/reineBlanche.png' (mousedown)= "promote('Queen')" class='promoteButton'>
    <img src='./../../assets/tourBlanche.png' (mousedown)= "promote('Rook')" class='promoteButton'>
    <img src='./../../assets/fouBlanc.png' (mousedown)= "promote('Bishop')" class='promoteButton'>
    <img src='./../../assets/cavalierBlanc.png' (mousedown)= "promote('Knight')" class='promoteButton'>
  </div>
</body>
  

