#board{
    display:grid;
    grid-template-columns:100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap:0px;
    justify-content: center;
    padding: 2.5%;
}

app-square{
    height: 100px;
}

body{
    height: 900px;
    background-color: blueviolet;
    margin-top: 20px;
}

.promoteButton{
    height:100px;
    width:100px;
    background-color:aqua;
}